@model PROJETAKIP_.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Date gün ay yıl şeklinde olmazsa kayıt etmiyor*@



<div class="row">
    <div class="col-md-12">

        <div class="card mb-4">
            <h5 class="card-header">Profil Detayları</h5>
            <hr class="my-0">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">AD SOYAD: </label>
                            @Html.DisplayFor(model => model.AdSoyad)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">DEPARTMAN: </label>
                            @Html.DisplayFor(model => model.Departman)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">GÖREV: </label>
                            @Html.DisplayFor(model => model.Gorev)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">E-POSTA: </label>
                            @Html.DisplayFor(model => model.Eposta)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">TELEFON: </label>
                            @Html.DisplayFor(model => model.TelNo)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">YETKİ: </label>
                            @Html.DisplayFor(model => model.Yetki)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">TC NO: </label>
                            @Html.DisplayFor(model => model.TCNO)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">DoĞUM TARİHİ: </label>
                            @Html.DisplayFor(model => model.DogumTarihi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">ADRES: </label>
                            @Html.DisplayFor(model => model.Adres)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">İŞE GİRİŞ TARİHİ: </label>
                            @Html.DisplayFor(model => model.IseGirisTarihi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">MEDENİ DURUM: </label>
                            @Html.DisplayFor(model => model.MedeniHal)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">GÖREV AÇIKLAMASI: </label>
                            @Html.DisplayFor(model => model.PozisyonAcıklama)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">YAKIN BİLGİSİ: </label>
                            @Html.DisplayFor(model => model.YakinBilgisi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">YAKIN AD SOYAD: </label>
                            @Html.DisplayFor(model => model.YakinAdSoyad)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">YAKIN TC: </label>
                            @Html.DisplayFor(model => model.YakinTC)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">YAKIN TEL: </label>
                            @Html.DisplayFor(model => model.YakinTel)
                        </div>

                    </div>
                    <div class="mt-2">
                        <a href="/PersonelBilgileris/Index/" type="submit" class="btn btn-primary me-2">Ana Sayfaya Dön</a>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>
