@{
    ViewBag.Title = "Genelİstatistik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="row">
            <div class="col-lg-8 mb-4 order-0">
                <div class="card">
                    <div class="d-flex align-items-end row">
                        <div class="col-sm-7">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Proje Takip Sistemi Admin Sayfası 🎉</h5>
                                <p class="mb-4">
                                    Toplam <span class="fw-medium">@ViewBag.ProjeSayisi</span> proje mevcuttur. Hepsini detaylı olarak inceleyebilirsiniz.
                                </p>

                                <a href="/PersonelProje/Index/" class="btn btn-sm btn-outline-primary">View Badges</a>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img src="~/TEMA/assets/img/illustrations/man-with-laptop-light.png"
                                     height="140"
                                     alt="View Badge User"
                                     data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                     data-app-light-img="illustrations/man-with-laptop-light.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 order-1">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <img src="~/TEMA/assets/img/icons/unicons/chart-success.png"
                                             alt="chart success"
                                             class="rounded" />
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn p-0"
                                                type="button"
                                                id="cardOpt3"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <span class="fw-medium d-block mb-1">Tamamlanan Projeler</span>
                                <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i>@ViewBag.TamamlanmisProje Tamamlandı</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <img src="~/TEMA/assets/img/icons/unicons/wallet-info.png"
                                             alt="Credit Card"
                                             class="rounded" />
                                    </div>

                                </div>
                                <span class="d-block mb-1">Yüksek  Öncelikli </span>
                                <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> @ViewBag.YuksekVeBasarili Proje</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Revenue -->
            <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                <div class="card">
                    <div class="row row-bordered g-0">
                        <div class="col-md-8">
                                <div class="card h-100">
                                    <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                        <div class="card-title mb-0">
                                            <h5 class="m-0 me-2">Proje İstatislikleri</h5>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn p-0"
                                                    type="button"
                                                    id="orederStatistics"
                                                    data-bs-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                                <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex flex-column align-items-center gap-1">
                                                <h2 class="mb-2">@ViewBag.ProjeSayisi</h2>
                                                <span>Toplam Proje</span>
                                            </div>
                                            <div id="orderStatisticsChart"></div>
                                        </div>
                                        <ul class="p-0 m-0">
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <span class="avatar-initial rounded bg-label-primary">
                                                        <i class="bx bx-mobile-alt"></i>
                                                    </span>
                                                </div>
                                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-0">Başarılı</h6>
                                                        <small class="text-muted">Toplam Başarılı</small>
                                                    </div>
                                                    <div class="user-progress">
                                                        <small class="fw-medium">@ViewBag.TamamlanmisProje</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
                                                </div>
                                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-0">Yüksek Öncelikli</h6>
                                                        <small class="text-muted">Toplam Yüksek Öncelikli Proje</small>
                                                    </div>
                                                    <div class="user-progress">
                                                        <small class="fw-medium">@ViewBag.YuksekOncelikli Proje</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                                </div>
                                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-0">Orta Öncelikli</h6>
                                                        <small class="text-muted">Orta Öncelikli Proje Sayısı</small>
                                                    </div>
                                                    <div class="user-progress">
                                                        <small class="fw-medium">@ViewBag.OrtaOncelikli Proje</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <span class="avatar-initial rounded bg-label-secondary">
                                                        <i class="bx bx-football"></i>
                                                    </span>
                                                </div>
                                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-0">Düşük Öncelikli</h6>
                                                        <small class="text-muted">Düşük Öncelikli Proje Sayısı</small>
                                                    </div>
                                                    <div class="user-progress">
                                                        <small class="fw-medium">@ViewBag.DusukOncelikli Proje</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                            </div>
                            <div id="growthChart"></div>
                            <div class="text-center fw-medium pt-3 mb-2">62 Toplam Proje</div>

                            <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                                <div class="d-flex">
                                    <div class="me-2">
                                        <span class="badge bg-label-primary p-2"><i class="bx bx-wallet text-info"></i></span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <small>Tamamlanan Proje</small>
                                        <h6 class="mb-0">@ViewBag.TamamlanmisProje</h6>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="me-2">
                                        <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <small>Devam Eden Proje</small>
                                        <h6 class="mb-0">@ViewBag.TamamlanmamisProje</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Total Revenue -->
            <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                <div class="row">
                    <div class="col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <img src="~/TEMA/assets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                                    </div>
                                    
                                </div>
                                <span class="d-block mb-1">Düşük Öncelikli</span>
                                <small class="text-danger fw-medium"><i class="bx bx-down-arrow-alt"></i> @ViewBag.DusukVeBasarili Proje</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <img src="~/TEMA/assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                                    </div>
                                </div>
                                <span class="fw-medium d-block mb-1">Orta Öncelikli</span>
                                <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> @ViewBag.OrtaVeBasarili Proje</small>
                            </div>
                        </div>
                    </div>
                    <!-- </div>
                    <div class="row"> -->
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                    <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                        <div class="card-title">
                                            <h5 class="text-nowrap mb-2">En Çok Proje Tamamlayan</h5>
                                            <span class="badge bg-label-warning rounded-pill">@ViewBag.EnCokTamamlayanPersonelBilgisi</span>
                                        </div>
                                        <div class="mt-sm-auto">
                                            <h3 class="mb-0">@ViewBag.EnCokProjeTamamlayanPersonelinProjeSayisi</h3>
                                        </div>
                                    </div>
                                    <div id="profileReportChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
